

button,.pointerB{
    cursor: pointer;

}

.biggyB{
    padding: 20px 10px;
    font-family: 'Quicksand', sans-serif;
}

.biggyB *{
    font-weight: 500;
}



.headerImgB{
    width: 100%;
    margin-bottom: 20px;
}

.subMainB{
    display: flex;
    border: 1px solid black;
    width: 90%;
    margin: auto;
}

.mainImgBoxB {
    width: 40%;
    margin-right: 20px;
}

.rightMainB{
    width: 60%;
}

.mainImgBoxB img{
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.forSpansB span{
   margin-right: 40px;
}

.timerB{
    height: 40px;
    background-color: #ff9c01;
    font-weight: bold;
}

.timerB div img{
    width: 30px;
    margin-right: 10px;
}

.titleB{
    
    font-size: 19px;
    font-weight: 800;
    color: #333333;
    padding-bottom: 8px;
}

.forSpansB{
    padding-bottom: 8px;
}

.forSpansB span{
     font-size: 15px;
     color: #333333;
     font-weight: bold;
}

.forSpansB span span{
    font-weight: 600;
    color: #999999;
}

.timerB{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.timerLeftB{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerRightB{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock11B{
    width: 100px;
    /* background-color: #fff; */
    box-sizing: border-box;
}



/* Price */


.priceB{
    background-color: #f3f3f3;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
   
}

.labelB{
    color: #999;
    font-weight: bold;
    font-size: 15px;
    width: 140px;
}

.price1B{
    font-family: inherit;
    color: #ff9c01;
    font-size: 28px;
    font-weight: 800;
    margin-right: 10px;
}


.price2B{
    color: rgb(120, 117, 117);
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.price3B{
  background-color:#ff9c01 ;
  color: white;
  font-weight: bold;
  padding: 3px;
  margin-right: 6px;
}

/* Ship */
.shipFromB{
    padding-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.shipNameB{
    border: 1px solid #074ea3;
    color: #074ea3;
    font-weight: 600;
    padding: 7px;
}

.qtyB{
    height: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  
}

.counterB,.counterBoxB{
    width: 40px;
    height: 30px;
    font-size: 1.33rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.counterBoxB{
    width: 50px;
    border: 1px solid rgb(100, 99, 99);
    background-color: rgb(242, 242, 242);
}

/* Buttons */
.buttonsB{
   margin-top: 10px;
    display: flex;
    align-items: center;
}
  

.buyNowB,.addToCartB{
    border: .5px solid #ff9c01;
    font-size: 20px;
    font-weight: 900;
    color: #ff9c01;
    background-color: #FFF5E5;
    padding: 10px 20px;
    margin-right: 20px;


}

.addToCartB{
    background-color: #ff9c01;
    color: white;
}

.addToCartB:active{
    background-color: rgb(71, 196, 36);
    border: .5px solid #0fe42b;
}



.wishListB{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishListB span{
    color: #333333;
}

.wishListB img{
    width: 25px;
    margin-right: 5px;
    
}

.paypalB{
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.paypalB img{
    width: 100px;
}

/****************  
    Footer
 **************/

 .footerB > div img{
    width: 34px;
    margin: auto;

 }


.footerB p{
    font-size: 14.5px;
    margin: 0;
    text-align: center;
}

.footerB {
    margin-top: 60px;
    display: flex;
   justify-content: space-between;
   gap: 12px;
   padding: 0;

    
}


@media (max-width:850px){
    .subMainB{
        flex-direction: column;
    }

    .mainImgBoxB{
        width: 100%;

    }

    .rightMainB{
        width: 100%;
        padding: 20px;
    }

    .addToCartB, .buyNowB{
       width:300px ;
       text-align: center;
       margin: 10px 30px;
    }

    .buttonsB{
        display: flex;
        flex-direction: column;
    }

    .salesEndB{
        background: red;
        display: none;
        font-size: 1rem;
    }
    
  
}