

button,.pointerM{
    cursor: pointer;

}

.biggyM{
    padding: 20px 10px;
    font-family: 'Quicksand', sans-serif;
}

.biggyM *{
    font-weight: 500;
}



.headerImgM{
    width: 100%;
    margin-bottom: 20px;
}

.subMainM{
    display: flex;
    border: 1px solid black;
    width: 90%;
    margin: auto;
}

.mainImgBoxM {
    width: 40%;
    margin-right: 20px;
}

.rightMainM{
    width: 60%;
}

.mainImgBoxM img{
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.forSpansM span{
   margin-right: 40px;
}

.timerM{
    height: 40px;
    background-color: #ff9c01;
    font-weight: bold;
}

.timerM div img{
    width: 30px;
    margin-right: 10px;
}

.titleM{
    
    font-size: 19px;
    font-weight: 800;
    color: #333333;
    padding-bottom: 8px;
}

.forSpansM{
    padding-bottom: 8px;
}

.forSpansM span{
     font-size: 15px;
     color: #333333;
     font-weight: bold;
}

.forSpansM span span{
    font-weight: 600;
    color: #999999;
}

.timerM{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.timerLeftM{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerRightM{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock11M{
    width: 100px;
    /* background-color: #fff; */
    box-sizing: border-box;
}



/* Price */


.priceM{
    background-color: #f3f3f3;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
   
}

.labelM{
    color: #999;
    font-weight: bold;
    font-size: 15px;
    width: 140px;
}

.price1M{
    font-family: inherit;
    color: #ff9c01;
    font-size: 28px;
    font-weight: 800;
    margin-right: 10px;
}


.price2M{
    color: rgb(120, 117, 117);
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.price3M{
  background-color:#ff9c01 ;
  color: white;
  font-weight: bold;
  padding: 3px;
  margin-right: 6px;
}

/* Ship */
.shipFromM{
    padding-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.shipNameM{
    border: 1px solid #074ea3;
    color: #074ea3;
    font-weight: 600;
    padding: 7px;
}

.qtyM{
    height: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  
}

.counterM,.counterBoxM{
    width: 40px;
    height: 30px;
    font-size: 1.33rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.counterBoxM{
    width: 50px;
    border: 1px solid rgb(100, 99, 99);
    background-color: rgb(242, 242, 242);
}

/* Buttons */
.buttonsM{
   margin-top: 10px;
    display: flex;
    align-items: center;
}
  

.buyNowM,.addToCartM{
    border: .5px solid #ff9c01;
    font-size: 20px;
    font-weight: 900;
    color: #ff9c01;
    background-color: #FFF5E5;
    padding: 10px 20px;
    margin-right: 20px;


}

.addToCartM{
    background-color: #ff9c01;
    color: white;
}

.addToCartM:active{
    background-color: rgb(71, 196, 36);
    border: .5px solid #0fe42b;
}



.wishListM{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishListM span{
    color: #333333;
}

.wishListM img{
    width: 25px;
    margin-right: 5px;
    
}

.paypalM{
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.paypalM img{
    width: 100px;
}

/****************  
    Footer
 **************/

 .footerM > div img{
    width: 34px;
    margin: auto;

 }


.footerM p{
    font-size: 14.5px;
    margin: 0;
    text-align: center;
}

.footerM {
    margin-top: 60px;
    display: flex;
   justify-content: space-between;
   gap: 12px;
   padding: 0;

    
}


@media (max-width:850px){
    .subMainM{
        flex-direction: column;
    }

    .mainImgBoxM{
        width: 100%;

    }

    .rightMainM{
        width: 100%;
        padding: 20px;
    }

    .addToCartM, .buyNowM{
       width:300px ;
       text-align: center;
       margin: 10px 30px;
    }

    .buttonsM{
        display: flex;
        flex-direction: column;
    }

    .salesEndM{
        background: red;
        display: none;
        font-size: 1rem;
    }
    
  
}