

buttonS,.pointerS{
    cursor: pointer;

}

#biggyS{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

#biggyS *{
    font-weight: 500;
}
.mainS{
    width: 100%;
}


.headerImgS{
    width: 100%;
    margin-bottom: 2rem;
}

.subMainS{
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin: auto;
}

.mainImgBoxS {
    width: 40%;
    /* margin-right: 3rem; */
}

.rightMainS{
    width: 60%;
}

.mainImgBoxS img{
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.forSpansS span{
   margin-right: 5rem;
}

.timerS{
    height: 40px;
    background-color: #ff9c01;
    font-weight: bold;
}

.timerS div img{
    width: 30px;
    margin-right: 10px;
}

.titleS{
    
    font-size: 19px;
    font-weight: 800;
    color: #333333;
    padding-bottom: 8px;
}

.forSpansS{
    padding-bottom: 8px;
}

.forSpansS span{
     font-size: 15px;
     color: #333333;
     font-weight: bold;
}

.forSpansS span span{
    font-weight: 600;
    color: #999999;
}

.timerS{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.timerLeftS{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerRightS{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock11S{
    width: 100px;
    /* background-color: #fff; */
    box-sizing: border-box;
}



/* Price */


.priceS{
    background-color: #f3f3f3;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
   
}

.labelS{
    color: #999;
    font-weight: bold;
    font-size: 15px;
    width: 140px;
}

.price1S{
    font-family: inherit;
    color: #ff9c01;
    font-size: 28px;
    font-weight: 800;
    margin-right: 10px;
}


.price2S{
    color: rgb(120, 117, 117);
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.price3S{
  background-color:#ff9c01 ;
  color: white;
  font-weight: bold;
  padding: 3px;
  margin-right: 6px;
}

/* Ship */
.shipFromS{
    padding-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.shipNameS{
    border: 1px solid #074ea3;
    color: #074ea3;
    font-weight: 600;
    padding: 7px;
}

.qtyS{
    height: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  
}

.counterS,.counterBoxS{
    width: 40px;
    height: 30px;
    font-size: 1.33rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.counterBoxS{
    width: 50px;
    border: 1px solid rgb(100, 99, 99);
    background-color: rgb(242, 242, 242);
}

/* Buttons */
.buttonsS{
   margin-top: 10px;
    display: flex;
    align-items: center;
}
  

.buyNowS,.addToCartS{
    border: .5px solid #ff9c01;
    font-size: 20px;
    font-weight: 900;
    color: #ff9c01;
    background-color: #FFF5E5;
    padding: 10px 20px;
    margin-right: 20px;


}

.addToCartS{
    background-color: #ff9c01;
    color: white;
}

.addToCartS:active{
    background-color: rgb(71, 196, 36);
    border: .5px solid #0fe42b;
}



.wishListS{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishListS span{
    color: #333333;
}

.wishListS img{
    width: 25px;
    margin-right: 5px;
    
}

.paypalS{
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.paypalS img{
    width: 100px;
}

/****************  
    Footer
 **************/

 #footerS > div img{
    width: 4rem;
    margin: auto;

 }


#footerS p{
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

#footerS {
    margin-top: 60px;
    width: 90%;
    display: flex;
   justify-content: space-between;
   gap: 1rem;
   padding: 0;

    
}


@media (max-width:850px){
    .subMainS{
        flex-direction: column;
    }

    .mainImgBoxS{
        width: 100%;

    }

    .rightMainS{
        width: 100%;
        padding: 20px;
    }

    .addToCartS, .buyNowS{
       width:300px ;
       text-align: center;
       margin: 10px 30px;
    }

    .buttonsS{
        display: flex;
        flex-direction: column;
    }

    .salesEndS{
        background: red;
        display: none;
        font-size: 1rem;
    }
    
  
}